body, html .container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}



.trenutno {
  margin: 0;
  background: #f3f3f3;
}

.sedamdana {
  background: #f3f3f3;
  margin: 0;
  padding: 0;
}

.ikone {
  height: 30px;
  margin: 0 0.5rem 0 0;
}
.trenutnoIkona {
  margin: 0 1rem 0 0;
}

.sedamdana-col{
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 31%;
  background: #f3f3f3;
}

.sedamdana-col li{
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  /* width: 30%; */
  /* background-color: blue; */
}
.sedamdana-col img{
 width: 1.6rem;
 /* height: 1.4rem; */
}


.mojLogo{
  height: 1.2rem;
  margin-right: 1rem;
  border-radius: 7px;
}